
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(black, rgba(194, 6, 194, 0.753));
    font-family: 'Roboto', sans-serif;
}



.form {
    background-color: rgb(255, 255, 255);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0rem 2.5rem;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.103);
    
}

.form h1 {
    text-align: center;
    font-size: 700;
    padding-bottom: 0;
    margin-bottom: .8rem;
    margin-top: 2.3rem;
}

.form .barra {
    background: linear-gradient(to right, transparent, rgba(177, 6, 177, 0.822), transparent);
    height: 2px;
    width: 100%;
    margin-bottom: .6rem;
}

.form input {
    border: none;
    padding: .8rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.300);
    width: 100%;
    transition: 1s;
    font-size: 1rem;
    background-color: white;
}

.form input:focus {
    border-bottom-color: rgb(156, 0, 156);
}

.form label {
    position: absolute;
    color: rgb(156, 0, 156);
    opacity: 0;
    transition: 1s;
    top: 4px;
}

.form input:focus~label {
    color:rgb(156, 0, 156);
    font-size: 1rem;
    opacity: 1;
}



.form .grupo {
    position: relative;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

input:focus {
    outline: none;
}

.form .button {
    background-color: transparent;
    border: none;
    padding: 1rem;
    margin: 2rem;
    width: 60%;
    border-radius: .7rem;
    cursor: pointer;
    transition: .2s;
    font-size: 1rem;
    font-family: 'Roboto';
    transition: .6s ease;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.158);
}

.form .button:hover {
    transform: scale(1.05);
}


.button:focus {
    color: rgba(177, 6, 177, 0.822);
}



.form .span {
    color: red;
    font-size: .8rem;
    margin-top: .5rem;
}

.form i {
    display: none;
}
 
.form .fa-circle-xmark.activo {
    font-size: 1.2rem;
    display: block;
    color: red;
    position: absolute;
    right: 1rem;
    top: 2.3rem;
}

.form .fa-circle-check.activo {
    font-size: 1.2rem;
    display: block;
    color: rgba(177, 6, 177, 0.822);
    position: absolute;
    right: 1rem;
    top: 2.3rem;
}