body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(black, rgba(194, 6, 194, 0.753));
    font-family: 'Roboto', sans-serif;
}

.main {
    background-color: white;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    border-radius: 2rem;
    margin: 1rem;
}


.main .icono-check {
    font-size: 2.3rem;
    color: rgba(177, 6, 177, 0.822);
    margin: 1rem 0 0 0;
}

.main .h1 {
    text-align: center;
    padding: 0 1rem 0 1rem;
}

.main .barra {    
    background:linear-gradient(to right, transparent, rgba(177, 6, 177, 0.822), transparent);
    width: 100%;
    height: 0.1rem;
    padding-top: 0;
}


.main .parrafo-final {
    padding: .9rem;
    line-height: 1.5rem;
    text-align: center;
    /* width: 80%; */
}

.main .button {
    background-color: transparent;
    border: none;
    padding: 1rem;
    margin-bottom: 1rem;
    /* width: auto; */
    border-radius: 1rem;
    cursor: pointer;
    transition: .2s;
    font-family: 'Roboto';
    transition: .6s ease;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.158);
}

.main .button a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.main .button:hover {
    transform: scale(1.05);
}

.button a:focus {
    color: rgba(177, 6, 177, 0.886);
}


@media screen and (max-width: 849px) {
    .main {
        width: auto;
        margin:3rem;
    }
}

@media screen and (max-width: 568px) {
    .main {
        width: auto;
        margin: 1rem;
    }
}
